.headerRightBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Space Mono;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  gap: 40px;
  .headerLink {
    position: relative;

    &:hover {
      &::after {
        content: "";
        position: absolute;
        left: -5px;
        bottom: -5px;
        width: 65px;
        height: 6px;
        background-image: url("/underline.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }

  .headerRightBlockLogo {
    width: 55px;
    height: 58px;
    position: relative;
    padding: 0 20px;
    &::before {
      content: "";
      position: absolute;
      top: -21px;
      left: -10px;
      width: 1px;
      height: 100px;
      background-color: rgba(34, 60, 80, 0.5);
      z-index: 0;
    }
  }
}
