.swiper {
  :global(.swiper-pagination) {
    width: 50% !important;
    height: 25%;
  }
  :global(.swiper-pagination-bullet) {
    display: inline-block;
    height: 8px !important;
    width: 8px !important;
    color: black;
    background-color: #ebecf0;
    border: 2px solid black;
    border-radius: 0 !important;
    opacity: 1;
    margin: 0 20px !important;
  }
  :global(.swiper-pagination-bullet-active) {
    background-color: black;
  }
}
