.border {
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    left: 5px;
    right: 20px;
    bottom: -5px;
    width: 100%;
    height: 6px;
    background-image: url("/underline.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: -10%;
  }
}

.footerContainer {
  display: flex;
  flex-direction: column;
  box-shadow: 1px -1px 0px 0px rgba(34, 60, 80, 0.5);
  background-color: white;

  .footerContent {
    padding: 30px 70px;
    display: flex;
    justify-content: space-between;
    .footerLocationBlock {
      display: flex;
      gap: 40px;

      .footerLocationImageContainer {
        width: 100px;
        height: 100px;

        .footerLocationImage {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .footerLocationText {
        font-family: "Space Mono", monospace;
        font-size: 16px;
        line-height: 28px;

        .footerLocationTitle {
          font-family: "Anton";
          font-size: 30px;
          line-height: 40px;
          letter-spacing: 0.6px;
          margin-bottom: 10px;
        }

        .footerLocationDistrict {
          position: relative;
          @extend .border;
        }

        .footerLocationCity {
          position: relative;
          @extend .border;
        }

        .footerLocationPhone {
          position: relative;
          @extend .border;
        }
      }
    }

    .footerLocationMenu {
      font-family: "Space Mono", monospace;
      font-size: 16px;
      line-height: 28px;
      display: flex;
      flex-direction: column;
      > a {
        position: relative;
        margin-bottom: 10px;
        &:hover {
          @extend .border;
        }

        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
    .footerLocationSocial {
      font-family: "Space Mono", monospace;
      font-size: 16px;
      line-height: 28px;

      > p {
        position: relative;
        margin-bottom: 10px;

        &:hover {
          @extend .border;
        }

        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  .footerContainer {
    padding: 0px 60px;
  }
}

@media (max-width: 960px) {
  .footerContainer {
    padding: 0px;
    .footerContent {
      padding: 30px;
    }
  }
}

@media (max-width: 960px) {
  .footerContainer {
    .footerContent {
      flex-direction: column;
      gap: 40px;

      .footerLocationBlock {
        .footerLocationText {
          font-family: "Space Mono", monospace;
          font-size: 16px;
          line-height: 28px;
        }
      }

      .footerLocationMenu {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        flex-direction: row;
      }
      .footerLocationSocial {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        overflow: hidden;
      }
    }
  }
}

@media (max-width: 405px) {
  .footerContainer {
    .footerContent {
      padding: 10px;
      .footerLocationBlock {
        .footerLocationText {
          font-size: 12px;
          line-height: 20px;
        }
      }

      .footerLocationMenu {
        font-size: 12px;
        line-height: 20px;
      }
      .footerLocationSocial {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
}
