.sliderContainer {
  border-bottom: 1px solid #1d1d1b;

  .sliderContent {
    display: flex;

    .sliderImage {
      flex: 0 0 60%;
      height: 950px;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .sliderTextBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/images/slider-background.png");
    background-size: 100% 100%;
    width: 100%;
    cursor: default;
    .sliderText {
      display: flex;
      flex-direction: column;
      font-size: 120px;
      font-family: "Anton";
      text-transform: uppercase;
      position: relative;
      padding-left: 30px;

      .sliderSeal {
        position: absolute;
        right: 0;
        top: -80px;
      }
      .sliderSubText {
        width: 100%;
        font-family: "Kaushan Script", cursive;
        font-size: 60px;
        position: absolute;
        right: 0;
        left: 50px;
        bottom: -80px;
        rotate: (-5deg);
      }
    }
  }
  :global(.swiper-button-prev) {
    position: absolute;
    z-index: 2;
    top: 50% !important;
    width: 85px !important;
    height: 65px !important;
    cursor: pointer;
    background-color: #fbed81;
    font-size: 10px !important;
    color: #fbed81 !important;
    background-image: url("/slider-arrow.svg");
    background-repeat: no-repeat;
    rotate: (180deg);
    background-position: 50%;
    &:hover {
      background-color: #fde637;
    }
  }

  :global(.swiper-button-next) {
    position: absolute;
    z-index: 2;
    top: 50% !important;
    right: 0;
    width: 85px !important;
    height: 65px !important;
    cursor: pointer;
    background-color: #fbed81;
    font-size: 10px !important;
    color: #fbed81 !important;
    background-image: url("/slider-arrow.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    &:hover {
      background-color: #fde637;
    }
  }
}

@media (max-width: 1650px) {
  .sliderContainer {
    .sliderTextBlock {
      .sliderText {
        font-size: 100px;

        .sliderSubText {
          font-size: 40px;
        }
      }
    }
  }
}

@media (max-width: 1350px) {
  .sliderContainer {
    .sliderTextBlock {
      .sliderText {
        font-size: 80px;
        .sliderSubText {
          font-size: 40px;
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  .sliderContainer {
    .sliderContent {
      .sliderImage {
        height: 550px;
      }
    }
    .sliderSeal {
      width: 90px;
    }
    .sliderTextBlock {
      .sliderText {
        font-size: 55px;
        .sliderSubText {
          font-size: 30px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .sliderContainer {
    .sliderContent {
      .sliderImage {
        height: 450px;
      }
    }

    .sliderTextBlock {
      .sliderText {
        width: 100%;
        font-size: 40px;
        .sliderSubText {
          font-size: 20px;
          bottom: -30px;
          rotate: (-5deg);
        }
      }
    }
    :global(.swiper-button-prev) {
      width: 45px !important;
      height: 35px !important;
      background-size: 80%;
    }

    :global(.swiper-button-next) {
      width: 45px !important;
      height: 35px !important;
      background-size: 80%;
    }
  }
}

@media (max-width: 550px) {
  .sliderContainer {
    .sliderContent {
      column-gap: 20px;
      .sliderImage {
        height: 250px;
      }
    }
    .sliderSeal {
      right: 0;
      top: -50px !important;
      width: 50px;
    }
    .sliderTextBlock {
      .sliderText {
        justify-content: center;
        padding: 0;
        font-size: 20px;
        .sliderSubText {
          width: 100%;
          font-size: 14px;
          left: 0;
          bottom: -40px;
          rotate: (-5deg);
        }
      }
    }
    :global(.swiper-button-prev) {
      width: 25px !important;
      height: 15px !important;
      background-size: 80%;
    }

    :global(.swiper-button-next) {
      width: 25px !important;
      height: 15px !important;
      background-size: 80%;
    }
  }
}
