.menuItemContainer {
  border-bottom: 1px solid black;
  padding: 50px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menuItemContant {
    .menuItemTitle {
      font-family: "Anton";
      font-size: 35px;
      line-height: 45px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    .menuItemDesc {
      font-family: Space Mono;
      font-size: 18px;
      line-height: 24px;
    }
  }
}

@media (max-width: 960px) {
  .menuItemContainer {
    display: block;
  }
}

@media (max-width: 660px) {
  .menuItemContainer {
    padding: 10px 50px;
    border-right: 1px solid black;
    .menuItemContant {
      margin-right: 20px;
      .menuItemTitle {
        font-size: 25px;
        line-height: 45px;
      }
      .menuItemDesc {
        font-size: 16px;
      }
    }
  }
}
