.selectContainer {
  appearance: none;
  background: transparent;
  position: relative;

  &::after {
    content: "▼";
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &:active {
    &::after {
      content: "▲";
    }
  }

  .selectContent {
    appearance: none;
    background: transparent;
    padding-right: 20px;
    height: 41px;
    border-bottom: 1px solid black;
    background-color: white;
    font-family: "Space Mono", monospace;
    text-transform: lowercase;
    font-size: 18px;
    line-height: 24px;
  }

  .optionContainer {
    font-family: "Space Mono", monospace;
    text-transform: lowercase;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 400px) {
  .selectContainer {
    .selectContent {
      font-size: 14px;
      line-height: 20px;
    }

    .optionContainer {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
