.coffeMenuContainer {
  .coffeMenuContant {
    display: flex;
    border-top: 1px solid rgba(34, 60, 80, 0.5);

    .coffeMenuList {
      padding: 165px;
      flex: 1 1 50%;
    }

    .coffeMenuImageContainer {
      flex: 1 1 50%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid rgba(34, 60, 80, 0.5);

      .coffeMenuImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .coffeMenuImageText {
        position: absolute;
        color: #fbed81;
        font-size: 110px;
        line-height: 75px;
        font-family: "Mansalva", cursive;
        cursor: default;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 60%;
      }
    }
  }
}

@media (max-width: 1250px) {
  .coffeMenuContainer {
    .coffeMenuContant {
      display: flex;
      flex-direction: column-reverse;
      border-bottom: 1px solid rgba(34, 60, 80, 0.5);
      .coffeMenuList {
        padding: 85px;
      }
    }
  }
}

@media (max-width: 650px) {
  .coffeMenuContainer {
    .coffeMenuContant {
      .coffeMenuList {
        padding: 60px;
      }
      .coffeMenuImageContainer {
        .coffeMenuImageText {
          font-size: 80px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .coffeMenuContainer {
    .coffeMenuContant {
      .coffeMenuList {
        padding: 20px;
      }
      .coffeMenuImageContainer {
        .coffeMenuImageText {
          font-size: 60px;
          line-height: 50px;
        }
      }
    }
  }
}
