.productListContainer {
  background-color: #fdf1d9;
  .productListContant {
    display: flex;

    .productListInfo {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      flex: 1 1 50%;
      margin: 80px 90px 80px 90px;

      .infoTitle {
        font-family: "Anton";
        text-transform: uppercase;
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 50px;

        .infoTitleCircle {
          background-image: url("/images/circle.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100% 100%;
        }
      }

      .infoDescription {
        font-family: "Space Mono", monospace;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 25px;
      }
    }
  }
}

@media (max-width: 960px) {
  .productListContainer {
    .productListContant {
      flex-direction: column;
      .productListInfo {
        margin: 60px;

        .infoTitle {
          font-size: 32px;
          line-height: 40px;
          margin-bottom: 25px;

          .infoTitleCircle {
            background-image: url("/images/circle.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
          }
        }

        .infoDescription {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 25px;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .productListContainer {
    .productListContant {
      .productListInfo {
        margin: 25px;
        .infoTitle {
          font-size: 18px;
          line-height: 30px;
          margin-bottom: 25px;
        }
        .infoDescription {
          font-size: 16px;
        }
      }
    }
  }
}
