.dividerContainer {
  height: 100px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(34, 60, 80, 0.5);
  border-bottom: 1px solid rgba(34, 60, 80, 0.5);
  .dividerText {
    margin-left: 70px;
    font-size: 70px;
    line-height: 60px;
    font-family: "Anton";
    text-transform: uppercase;
  }
}

@media (max-width: 960px) {
  .dividerContainer {
    justify-content: center;
    .dividerText {
      font-size: 50px;
    }
  }
}

@media (max-width: 650px) {
  .dividerContainer {
    .dividerText {
      font-size: 40px;
    }
  }
}

@media (max-width: 500px) {
  .dividerContainer {
    .dividerText {
      font-size: 30px;
    }
  }
}

@media (max-width: 440px) {
  .dividerContainer {
    height: 50px;
    .dividerText {
      margin: 0;
      font-size: 20px;
      line-height: 40px;
    }
  }
}
