.productListPopular {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-left: 1px solid rgba(34, 60, 80, 0.5);
  border-right: 1px solid rgba(34, 60, 80, 0.5);
  padding: 35px;
  flex: 1 1 25%;
  position: relative;

  .productImageContainer {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    .productImage {
      width: 100%;
      height: 100%;
    }
  }
  .productImageOnly {
    width: 150px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    .productImage {
      width: 100%;
      height: 100%;
    }
  }
  .productName {
    font-family: "Anton";
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .productPrice {
    font-family: "Space Mono", monospace;
    font-size: 18px;
    line-height: 24px;
  }

  .productLabel {
    width: 68px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Anton";
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    right: 0;
    &.new {
      background-color: #fbed81;
      color: black;
    }
    &.sold {
      background-color: black;
      color: white;
    }
  }
}

@media (max-width: 1325px) {
  .productListPopular {
    padding: 10px;

    .productImageContainer {
      margin-bottom: 0px;
    }
    .productName {
      font-size: 20px;
    }
  }
}

@media (max-width: 960px) {
  .productListPopular {
    align-items: center;
    border-top: 1px solid rgba(34, 60, 80, 0.5);
    border-bottom: 1px solid rgba(34, 60, 80, 0.5);
  }
}
